* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* outline: 1px solid red; */
    /* overflow: hidden; */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.sec-space {
    padding: 40px 0;
}

.d-flex {
    display: flex;
}

.l-none {
    list-style-type: none;
}

.td-none {
    text-decoration: none;
}

.custom-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-custom {
    display: inline-block;
    text-decoration: none;
    padding: .3rem 1rem;
    border: 2px solid transparent;
    border-radius: 3px;
}

.btn-green {
    color: white;
    background-color: var(--darkgreen);
}

.btn-trans {
    background-color: transparent;
    border-color: black;
}

.btn-trans:hover {
    color: black;
    background-color: green;
}

.b-none {
    border: none;
}

:root {
    --white: #fefefe;
    --black: #0000;
    --green: #75a23d;
    --blue: #37c5a6;
    --dardblue: #163f7a;
    --lightblue: #a9e6d9;
    --lighterblue: #43b2d2;
    --navyblue: #daeff6;
    --darkgreen: #81b441;
    --darkblack: #262626;
    --gray: #808080;

}

/* ------------------------------------------------------------------ */
/* top-navbar */
/* ------------------------------------------------------------------ */
.header .top-navbar {
    background-color: var(--darkblack);
}

.header .top-navbar .top-navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

}

.header .top-navbar .top-navbar-inner .envato {
    color: var(--darkgreen);
    font-size: calc(1rem + 1vw);
}

.header .top-navbar .top-navbar-inner .envato i {
    font-size: calc(.6rem + .5vw);
}

.header .top-navbar .top-navbar-inner .buy {
    font-size: calc(.5rem + .4vw);
}

/* ------------------------------------------------------------------ */
/* social-nav */
/* ------------------------------------------------------------------ */
.social-navbar .social-inner .adress a i {
    color: var(--blue);
}

.social-navbar .social-inner .adres span {
    font-size: calc(.4rem + .4vw);
    padding-left: 4px;
}

.social-navbar .social-inner li {
    padding: .5rem;
}

.social-navbar .social-inner li a {
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------ */
/* navbar-wrapper */
/* ------------------------------------------------------------------ */
.navbar-wrapper .navbar-inner .navbar .navbar-brand {
    color: var(--blue);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vw);
}

.navbar-wrapper .navbar-inner .navbar .navbar-brand span {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: .5rem;
    color: var(--white);
    background-color: var(--blue);
    font-size: calc(1rem + 1vw);

}

.navbar-wrapper .navbar-inner .navbar .navbar-brand strong {
    color: var(--dardblue);
}

.navbar-wrapper .navbar-inner .navbar .navbar-nav .nav-link:hover {
    color: var(--blue);

}

.navbar-wrapper .navbar-inner .navbar .navbar-nav .nav-item .triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid var(--blue);
    position: absolute;
    top: -16px;
    right: 0;
    left: 0;
    transform: translateX(5rem);
}

.navbar-expand-lg .navbar-nav .home {
    left: -4rem;
    top: 3rem;
    background-color: var(--blue);
    color: var(--white);
}

.navbar-expand-lg .navbar-nav .home .dropdown-item {
    color: var(--white);
}

.dropdown-toggle::after {
    display: none;
}

.navbar-expand-lg .navbar-nav .feature {
    left: 38rem;
    top: 4rem;
    background-color: var(--blue);
    color: var(--white);
}

.navbar-expand-lg .navbar-nav .blog {
    left: 51rem;
    /* position: relative; */
}

/* .navbar-expand-lg .navbar-nav .blog .play{
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(50% , 50%);
}  */
.navbar-expand-lg .navbar-nav .feature .dropdown-item {
    color: var(--white);
}

.navbar-expand-lg .navbar-nav .feature .dropdown-item:hover {
    color: gray;
}

#hamburgerModal .modal-content {
    top: 1.5rem;
    width: 239vh;
    right: 12rem;
    background-color: var(--darkblack);
}


#hamburgerModal .modal-header .btn-close {
    background-color: var(--white);
}


#hamburgerModal .modal-header .btn-close  {
    background-color: var(--white);
}

#hamburgerModal .modal-body .btn:hover {
    border: none;
}

#hamburgerModal .modal-body .btn span {
    padding-left: 20rem;
}

#hamburgerModal .modal-body .card-body {
    text-align: start;
    margin-left: 14rem;
    background-color: var(--darkblack);
}


#hamburgerModal .modal-body .card-body ul li {
    padding: .5rem 0;
}
#hamburgerModal .modal-body .card-body {

    margin-left: 4rem;

}
/* ------------------------------------------------------------------ */
/* carosuel-wrapper */
/* ------------------------------------------------------------------ */

/* .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-main {
    font-size: calc(.3rem + .3rem);
}
.carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-sub {
     font-size: 20%;
} 
.carosuel-wrapper .carousel-inner .carousel-caption .text-box {
    top: 80%;
}
.carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
font-size: calc(.4rem + .4vw);
border-radius: 2rem;
padding: .5rem .5rem;
} */
.carosuel-wrapper .carousel-inner .carousel-caption {
    text-align: justify;
    
}

.carosuel-wrapper .carousel-inner .carousel-caption .text-box {
    position: absolute;
    bottom: 309%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.carosuel-wrapper .carousel-inner .carousel-caption .heading-primary {
    color: #333;

}

.carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-main {
    display: block;
    font-size: calc(1rem + 1rem)!important;
    /* font-weight: 400; */
    /* letter-spacing: 35px; */
    /*  Animation decalaration   */
    animation-name: moveInleft;
    animation-duration: 3s;
    color: var(--dardblue);
}

.carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-sub {
    display: block;
    font-size: 50%;
    /* font-weight: 700; */
    /* letter-spacing: 15.9px; */

    animation-name: moveInRight;
    animation-duration: 3s;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

.carosuel-wrapper .carousel-inner .carousel-caption .text-box #appoint {
    /* border: 3px solid black;
    border-radius: 5px; */
    height: 100px;
    overflow: hidden;
    /* transform: translateX(-100%); */

}

.carosuel-wrapper .carousel-inner .carousel-caption .text-box #appoint-text {
    height: 100%;
    text-align: center;
    transform: translateY(0);
    animation: my-animation 5s;
}

@keyframes my-animation {
    from {

        transform: translateY(100%);
    }

    to {

        transform: translateY(0);
    }
}

.carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
    margin-top: 1rem!important;
    border-radius: 2rem!important;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #75a23d 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;  
}

.carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint:hover {
 background-position: left;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    display: contents;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    border: 1px solid transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

/* ------------------------------------------------------------------ */
/* dental-implant-wrapper */
/* ------------------------------------------------------------------ */
.dental-implant-wrapper {
    background: rgb(35, 127, 200);
    background: linear-gradient(294deg, rgba(35, 127, 200, 1) 0%, rgba(67, 204, 210, 0.9724264705882353) 100%);
}

.dental-implant-wrapper .implant-inner .dentist span {
    color: var(--white);
    font-size: calc(2.5rem + 2.5vw);
}

.dental-implant-wrapper .implant-inner .implant span {
    font-size: calc(1rem + .5vw);
}

.dental-implant-wrapper .implant-inner .implant small {
    display: block;
    font-size: 50%;
    padding-top: .5rem;
}

/* ------------------------------------------------------------------ */
/* smile-sec-heading */
/* ------------------------------------------------------------------ */
.sec-heading a {
    color: var(--blue);
}

.sec-heading a span {
    font-size: calc(1rem + 1vw);
}

.sec-heading a small {
    display: block;
    font-size: 80%;
    position: relative;
}

.sec-heading a small:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: var(--blue);
    top: 22px;
    left: 48.5%;
    display: block;
}

.sec-heading h2 {
    color: var(--dardblue);
}

/* ------------------------------------------------------------------ */
/* section-welcome */
/* ------------------------------------------------------------------ */
.welcome-wrapper .card {
    background: rgb(185, 219, 221);
    background: linear-gradient(294deg, rgba(185, 219, 221, 0.9724264705882353) 100%, rgba(35, 127, 200, 1) 100%);
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(28%, 14%);
    width: 28rem;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.welcome-wrapper .card p {
    font-size: calc(.5rem + .4vw);
}

.welcome-wrapper .card p {
    font-size: calc(.5rem + .4vw);
}

.welcome-wrapper .card .card-link {
    border: 0px solid transparent;
    border-radius: 3rem;
    padding: .7rem 2rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #75a23d 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;  
}

.welcome-wrapper .card .card-link:hover {
    background-position: left;
}

/* .welcome-wrapper .
:hover {
    background-color: rgba(0,0,0,.5);
    position: relative;
    z-index: 1;
} */
.welcome-wrapper .blog {
    position: relative;

}

.welcome-wrapper .blog .play {
    position: absolute;
    top: 35%;
    left: 14rem;
    right: 0;
    /* transform: translate(50% , 50%); */

}

.welcome-wrapper .blog .play a {
    color: var(--white);
    font-size: calc(2rem + 1vw);
}

.welcome-wrapper .blog .play a:hover {
    color: var(--blue);
}

.welcome-wrapper .blog .overlay {
    position: absolute;
}
#hamburgerModal .modal-body .card-body ul li {
    padding: .5rem 0;
}
.welcome-wrapper .blog .play .modal .modal-header{
    position: absolute;
    right: 30px;
    top: 56px;
    z-index: 1;
 

}
/* ------------------------------------------------------------------ */
                            /* welcome-wrapper */
/* ------------------------------------------------------------------ */


.welcome-wrapper .blog:hover .overlay {
    opacity: .5;
    /* Opacity set to 1 on hover to show the overlay */

}

.welcome-wrapper .blog img {
    width: 100%;

}

/* ------------------------------------------------------------------ */
/* section-routine */
/* ------------------------------------------------------------------ */
.routine-wrapper {
    width: 100%;
    background-image: url(../img/we\ do\ bg\ img.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    display: inline-block;
}

.routine-wrapper .routine-section-inner {
    background-color: rgba(0, 0, 0, .7);
    padding: 5rem 0;
}

.routine-wrapper .routine-wrapper-inner .row .we-do img {
    width: 100%;
}

.routine-wrapper .routine-wrapper-inner .row .we-do:hover img {
    opacity: .5;

}

.routine-wrapper .routine-wrapper-inner .row .we-do .chain {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: .8rem;
    position: absolute;
    top: 38%;
    left: 23%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: var(--blue);
}

.routine-wrapper .routine-wrapper-inner .row .we-do .chain a {
    display: none;
    color: black;
    /* font-size: 48px; */
}

.routine-wrapper .routine-wrapper-inner .row .we-do:hover .chain {
    background-color: darkorange;
    opacity: .9;
}

.routine-wrapper .routine-wrapper-inner .row .we-do:hover .chain a {
    display: block;

}

.routine-wrapper .routine-wrapper-inner .row .we-do .brick {
    left: 41rem;

}

.routine-wrapper .routine-wrapper-inner .row .we-do .lase {
    left: 64rem;
}

.routine-wrapper .routine-wrapper-inner .make {
    border: 0px solid transparent;
    border-radius: 3rem;
    padding: 1rem 2.5rem;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    background: linear-gradient(to right, #fefefe 50%,  #75a23d 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out; 
}

.routine-wrapper .routine-wrapper-inner .make:hover {
    background-position: left;
    color:#163f7a;

}

/* ------------------------------------------------------------------ */
/* section-doctor-info */
/* ------------------------------------------------------------------ */
.doctor-info-wrapper .info-inner .row img {
    width: 100%;
}

.doctor-info-wrapper .info-inner .row h2 span {
    color: var(--blue);
    font-size: calc(2rem + 1vw);
}

.doctor-info-wrapper .info-inner .row h2 small {
    display: block;
    font-size: 80%;
}

.doctor-info-wrapper .info-inner .row .preventive-cure .cure-inner p {
    font-size: calc(.5rem + .5vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.doctor-info-wrapper .info-inner .row .preventive-cure input {
    width: 100%;
}

/* ------------------------------------------------------------------ */
/* section-services */
/* ------------------------------------------------------------------ */
.services-wrapper .services-wrapper-inner .row a span {
    font-size: calc(2rem + 1vw);
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: var(--lighterblue);
    padding: 1.5rem;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out; 
 
}

.services-wrapper .services-wrapper-inner .row a span:hover {
    background-position: left;
}

.services-wrapper .services-wrapper-inner .row h4 {
    color: var(--blue);
}

.services-wrapper .services-wrapper-inner .row h4:hover {
    color: var(--dardblue);
}

.services-wrapper .services-wrapper-inner .row p {
    font-size: calc(.5rem + .5vw);
}

/* ------------------------------------------------------------------ */
/* section-testimonials */
/* ------------------------------------------------------------------ */
.section-testimonial .routine-wrapper {
    width: 100%;
    background-image: url(../img/dental\ instrument.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

.section-testimonial .routine-wrapper .routine-section-inner {
    background-color: rgba(0, 0, 0, .7);
    padding: 4rem 0;
}

.section-testimonial .routine-wrapper .routine-wrapper-inner .row .we-do img {
    width: 100%;
}

.section-testimonial .parallel {
    position: relative;
}

.section-testimonial p {
    font-size: calc(.4rem + .4vw);

}

.section-testimonial .employee-info .image-wrapper img {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;

}

.section-testimonial .employee-info h4 {
    font-size: calc(.8rem + .8vw);

}

.section-testimonial .employee-info h4 small {
    display: block;
    font-size: 50%;
    color: var(--blue);
    padding-top: .3rem;
}

.section-testimonial .parallelogram-left {
    width: 10px;
    height: 25px;
    transform: skew(156deg);
    background-color: var(--blue);
    position: absolute;
    top: -1rem;
    left: -.5rem;
}

.section-testimonial .parallelogram-right {
    width: 10px;
    height: 25px;
    transform: skew(156deg);
    background-color: var(--blue);
    position: absolute;
    top: -1rem;
    left: 0rem;
    margin-left: .5rem;
}

/* ------------------------------------------------------------------ */
/* section-success */
/* ------------------------------------------------------------------ */
.section_success .success {
    flex-direction: row-reverse;
}

.section_success .success .deep {
    transform: translate(-14%, 13%);
    width: 34rem;
    padding: 1rem 3rem;
}
.section_success .success .deep .story{
border: 0px solid transparent;
}

/* ------------------------------------------------------------------ */
/* section-product */
/* ------------------------------------------------------------------ */
.products-wrapper .products-wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.products-wrapper .products-wrapper-inner .product-card {
    flex: 20%;
    max-width: 20%;
    min-height: 100%;
    padding: .5rem;
    position: relative;
    display: inline-block;
}

.products-wrapper .products-wrapper-inner .product-card .product-inner img {
    width: 100px;
    height: 100px;
}

.products-wrapper .products-wrapper-inner .product-card .product-inner:hover img {
    opacity: .3;


}

.products-wrapper .products-wrapper-inner .product-card .product-inner h4 span {
    font-size: calc(1rem + 1vw);
    color: var(--blue);
}

.products-wrapper .products-wrapper-inner .product-card .product-inner h4 small {
    display: block;
    font-size: 50%;
}

.products-wrapper .products-wrapper-inner .product-card  a {
    border: 0px solid transparent;
    border-radius: 3rem;
    padding: .5rem 1rem;
    background-color: var(--blue);
    color: var(--white);
    margin-top: .5rem;
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
}

.products-wrapper .products-wrapper-inner .product-card .product-inner .overlay {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: opacity .3s ease;
}

.products-wrapper .products-wrapper-inner .product-card .product-inner .overlay ul li .cart {
    display: none;
    color: white;
    padding: .8rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;

}

.products-wrapper .products-wrapper-inner .product-card .product-inner:hover .overlay {
    opacity: 1;
}

.products-wrapper .products-wrapper-inner .product-card .product-inner:hover .overlay ul li .cart {
    display: block;
}

.products-wrapper .products-wrapper-inner .product-card a:hover {
    background-position: left;
}

.products-wrapper .products-wrapper-inner .chart {
    border-left: 1px solid rgb(223, 216, 216);
}

/* ------------------------------------------------------------------ */
/*                               section-clinic */
/* ------------------------------------------------------------------ */
.clinic-wrapper {
    position: relative;
}

.clinic-wrapper .row .pad {
    padding-top: 2rem;
    display: inline-block;

}

.clinic-wrapper .row .pad img {
    transition: all .3s ease-in-out;

}

.clinic-wrapper .row .pad .dot {
    background-image: url(../img/gallery\ a.png);
    background-repeat: no-repeat;
    background-position: center ;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 3rem;
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    position: absolute;
    top: 5rem;
    left: 10rem;
    transform: translate(-50%, 50%);
    opacity: 0;
}

.clinic-wrapper .row .pad .sur {
    left: 33rem;
    background-image: url(../img/gallery\ card\ b.jpg);

}

.clinic-wrapper .row .pad .app {
    left: 55rem;
    background-image: url(../img/gallery\ card\ c.jpg);
  
}

.clinic-wrapper .row .pad .chil {
    top: 23rem;
    left: 10rem;
    background-image: url(../img/gallery\ card\ d.jpg);
}

.clinic-wrapper .row .pad .toth {
    top: 23rem;
    left: 33rem;
    background-image: url(../img/gallery\ card\ e.jpg);
}

.clinic-wrapper .row .pad .insp {
    top: 23rem;
    left: 55rem;
    background-image: url(../img/gallery\ f.jpg);
}

.clinic-wrapper .row .pad:hover .dot {
    opacity: 1;
}

.clinic-wrapper .row .pad:hover img {
    opacity: .5;
    transform: rotateY(180deg);
}

.clinic-wrapper .view {
    border: 0px solid transparent;
    border-radius: 2rem;
    padding: .5rem 2rem;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
}

.clinic-wrapper .view:hover {
    background-position: left;
}

/* ------------------------------------------------------------------ */
/*                               section-staff */
/* ------------------------------------------------------------------ */
.staff-wrapper {
    position: relative;
}

.staff-wrapper .row .dir img {
    width: 250px;
    height: 250px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding-bottom: 1rem;
}

.staff-wrapper .row .dir:hover img {
    opacity: .5;
}

.staff-wrapper .row .dir .tru {
    border: 0px solid transparent;
    border-radius: 50%;
    padding: .8rem;
    position: absolute;
    top: 18%;
    left: 12%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-position: right;
    background-size: 200% 100%;
    transition: background-position .3s ease-in-out;

}

.staff-wrapper .row .dir .hdn {
    left: 38%;
}

.staff-wrapper .row .dir .lnk {
    left: 63%;

}

.staff-wrapper .row .dir .ara {
    left: 89%;

}

.staff-wrapper .row .dir .tru a {
    display: none;
    color: black;
    /* font-size: 48px; */

}

.staff-wrapper .row .dir:hover .tru {
    background-color: #37c5a6;
    opacity: .9;
    background-position: left;
}

.staff-wrapper .row .dir:hover .tru a {
    display: block;

}

.staff-wrapper .row .alex a span {
    font-size: calc(1rem + .5vw);

}

.staff-wrapper .row .alex a span:hover {
    color: var(--blue) !important;
}

.staff-wrapper .row .alex a small {
    font-size: 75%;
}

.staff-wrapper .row .alex p {
    font-size: calc(.4rem + .4vw);
}

.staff-wrapper .row .sec-heading a .dirct:after {

    left: 39%;

}

.staff-wrapper .row .sec-heading ul a {
    font-size: calc(.4rem + .4vw);

}

.staff-wrapper .row .sec-heading ul a:hover {

    color: var(--blue) !important;
}

/* ------------------------------------------------------------------ */
/*section-emergancy */
/* ------------------------------------------------------------------ */
.section-emergancy {
    background-image: url(../img/why\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.emergancy-wrapper h2 span {
    font-size: calc(2rem + 2vw);
    color: var(--dardblue);
}

.emergancy-wrapper h2 small {
    display: block;
    font-size: 50%;
    padding: 1rem 0;
}

.emergancy-wrapper .makapp { 
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 0px solid transparent;
    border-radius: 2rem;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
}

.emergancy-wrapper .makapp:hover {
  background-position: left;  
}

/* ------------------------------------------------------------------ */
/*section-blog */
/* ------------------------------------------------------------------ */
.blog-wrapper {
    position: relative;
}

.blog-wrapper .feb img {
    padding-bottom: 2rem;
    width: 100%;
}

.blog-wrapper .feb:hover img {
    opacity: .5;
}

.blog-wrapper .feb .mul {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    top: 13%;
    left: 16%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #163f7a;
    border: 0px solid transparent;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
}
.blog-wrapper .feb .mul:hover {
background-position: left;
  
}
.blog-wrapper .feb .cindy {
    left: 32rem;
    border: 0px solid transparent;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
}

.blog-wrapper .feb .cindy:hover {
background-position: left;
}

.blog-wrapper .feb .jeff {
    left: 55rem;
    border: 0px solid transparent;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
}

.blog-wrapper .feb .jeff:hover {
 background-position: left;
}
.blog-wrapper .feb .mul a {
    display: none;
    color: black;
    /* font-size: 48px; */

}

.blog-wrapper .feb:hover .mul {
    background-color: #37c5a6;
    opacity: .9;
}

.blog-wrapper .feb:hover .mul a {
    display: block;

}

.blog-wrapper .feb a {
    font-size: calc(.4rem + .4vw);
}

.blog-wrapper .feb .lorm {
    font-size: calc(.5rem + .5vw);
}

.blog-wrapper .feb ul li a {
    color: var(--blue);
}

.blog-wrapper .feb ul li a:hover {
    color: var(--gray);
}

.blog-wrapper .read {
   
    border-radius:3rem;
    color: var(--white);
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: .5rem 3rem;
    border: 0px solid transparent;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;

}
.blog-wrapper .read:hover{
    background-position: left;
} 

/* ------------------------------------------------------------------ */
/*section-logo */
/* ------------------------------------------------------------------ */
.logo-wrapper {
    background: rgb(185, 219, 221);
    background: linear-gradient(294deg, rgba(185, 219, 221, 0.9724264705882353) 5%, rgba(36, 139, 221, 1) 85%);
}

.logo-wrapper .logo-inner .row img {
    width: 100%;
}

/* ------------------------------------------------------------------ */
/*section-location */
/* ------------------------------------------------------------------ */
.location-wrapper iframe {
    width: 100%;
}

/* ------------------------------------------------------------------ */
/*section-footer-nav */
/* ------------------------------------------------------------------ */
.section-footer-nav .nav-wrapper .row .e-mail {
    background-color: var(--navyblue);
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-footer-nav .nav-wrapper .row .e-mail:hover {
    background-color: var(--white);
    border-color: var(--blue);
    /* transition: all .3s ease-in-out; */

}

.section-footer-nav .nav-wrapper .row .e-mail span {
    font-size: calc(1rem + 1vw);

}

.section-footer-nav .nav-wrapper .row .media a {
    border: 0px solid transparent;
    border-radius: 50%;
    color: var(--white);
    padding: .5rem;
    cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position .3s ease-in-out;
}

.section-footer-nav .nav-wrapper .row .media a:hover {
background-position: left;

}

.angle-up a {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    color: var(--white);
    padding: 1rem;
    border: 0px solid transparent;
     cursor: pointer;
    background: linear-gradient(to right, #163f7a 50%,  #37c5a6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
    z-index: 1;
}
.angle-up a:hover{
    background-position: left;
} 
.shoping {
    position: fixed;
    bottom: 10rem;
    right: 0;
}

.shoping ul li {
    margin: .2rem 0;
}

.shoping ul li a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: var(--dardblue);
    color: var(--white);
    border: 1px solid transparent;
    padding: 1.3rem;
    /* margin: .5rem 0; */
    /* font-size: calc(.5rem + .5vw); */
}
/* 
.shoping ul li a {
    position: relative;
} */

.shoping ul li #theme span {
    background-color: var(--darkblack);
    color: var(--white);
    border: 1px solid transparent;
    padding: 1.5rem;
    position: absolute;
    top: 3px;
    right: 3.5rem;
    font-size: calc(.4rem + .4vw);
    width: max-content;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
 } 
 .shoping ul li #seller span {
    background-color: var(--darkblack);
    color: var(--white);
    border: 1px solid transparent;
    padding: 1.5rem;
    position: absolute;
    top: 4.65rem;
    right: 3.5rem;
    font-size: calc(.4rem + .4vw);
    width: max-content;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
 }
 .shoping ul li #panel span {
    background-color: var(--darkblack);
    color: var(--white);
    border: 1px solid transparent;
    padding: 1.5rem;
    position: absolute;
    top: 9rem;
    right: 3.5rem;
    font-size: calc(.4rem + .4vw);
    width: max-content;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
 }

@media(max-width:992px) {
    .navbar-wrapper .navbar-inner .navbar .toggle {

        position: absolute;
        top: 0;
        right: 8rem;
    }

    .social-navbar .social-inner .adress span {
        font-size: calc(.8rem + .5vw);
    }

    .carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
        margin-top: 0;

    }

    .welcome-wrapper .card {
        padding: 0.5rem;
        width: 20rem;
        transform: translate(28%, 16%);
    }

    .welcome-wrapper .card h4 {
        font-size: calc(.6rem + .5vw);
    }

    .welcome-wrapper .card p {
        font-size: calc(.4rem + .4vw);
    }

    .section_success .success .deep {
        transform: translate(-14%, 19%);
        padding: 1rem 1rem;
        width: 28rem;
    }

    .section_success .success .deep p {
        margin: 0;

    }

    .section_success .success .deep .card-body {
        padding: 0;

    }

    .section_success .success .deep .card-link {

        padding: 0.5rem 1rem;

    }

    .products-wrapper .products-wrapper-inner .product-card {
        flex: 25%;
        max-width: 25%;

    }

    .products-wrapper .products-wrapper-inner .chart {
        border: none;
    }

    .shoping{
        display: none;
    }
    .social-navbar .social-inner .adress span {
        font-size: calc(.8rem + .5vw);
      }
      .carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
        margin-top: 0;
     
    }
    .angle-up{
        display: none;
    }
  }




@media(max-width:768px) {
    *{
        overflow-x: hidden;
     }
    .navbar-wrapper .navbar-inner .navbar .toggle {
        right: 4rem;
    }


    .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-main {
        font-size: calc(.8rem + .5rem)!important;
    }

    .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-sub {
        font-size: 30%;
    }

    .carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
        font-size: calc(.5rem + .5vw);
        border-radius: 2rem;
        padding: 1rem 1rem;
    }

    .welcome-wrapper .card {

        width: 26rem;
        transform: translate(12%, 16%);
    }

    .welcome-wrapper .card h4 {
        font-size: calc(1rem + 1vw);
    }

    .welcome-wrapper .card p {
        font-size: calc(.5rem + .4vw);
    }

    .doctor-info-wrapper .info-inner .row h2 {
        text-align: center;
    }

    .section_success .success .deep {
        transform: translate(7%, 19%);
        padding: 1rem 1rem;
    }

    .products-wrapper .products-wrapper-inner .product-card {
        flex: 33.33333%;
        max-width: 33.33333%;

    }

    .clinic-wrapper .row {
        text-align: center;
    }

    .section-footer-nav .nav-wrapper .row {
        text-align: center;

    }

    .section-footer-nav .nav-wrapper .row .media {
        justify-content: center !important;

    }

    .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-main {
        font-size: calc(.8rem + .5rem);
    }
   .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-sub {
         font-size: 30%;
   } 
   .carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
   font-size: calc(.5rem + .5vw);
    border-radius: 2rem;
    padding: 1rem 1rem;
} 

}

@media(max-width:576px) {
 *{
    overflow-x: hidden;
 }
    .social-navbar .social-inner {
        flex-direction: column-reverse;
    }


    .social-navbar .social-inner .adress span {
        font-size: calc(.4rem + .5vw);
    }


    .social-navbar .social-inner .adress span {
        font-size: calc(.4rem + .5vw);
      }

    #hamburgerModal .modal-body .btn span {
        padding-left: 10rem;
    }

    #hamburgerModal .modal-content {
        top: 2.5rem;
    }

    #hamburgerModal .modal-content {
        top: 2.3rem;
        width: 56vh;

        right: 8px;
    }

    #hamburgerModal .modal-body .card-body {

        margin-left: 4rem;

    }

    .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-main {
        font-size: calc(.3rem + .3rem)!important;
    }

    .carosuel-wrapper .carousel-inner .carousel-caption .heading-primary-sub {
        font-size: 20%;
    }

    .carosuel-wrapper .carousel-inner .carousel-caption .text-box {
   display: none;
    }

    .carosuel-wrapper .carousel-inner .carousel-caption .text-box .appoint {
        font-size: calc(.4rem + .4vw);
        border-radius: 2rem;
        padding: .5rem .5rem;
    }
    .welcome-wrapper .blog .play {

        left: 8rem;

    }
    .welcome-wrapper .blog .play .modal {
display: none;
    }

    .welcome-wrapper .card {
        padding: 0.5rem;
        width: 15rem;
        transform: translate(7%, 16%);
    }

    .welcome-wrapper .card h4 {
        font-size: calc(.6rem + .5vw);
    }

    .welcome-wrapper .card p {
        font-size: calc(.4rem + .4vw);
    }

    .section_success .success .deep {
        width: 15rem;
    }

    .products-wrapper .products-wrapper-inner .product-card {
        flex: 50%;
        max-width: 50%;

    }
    .products-wrapper .products-wrapper-inner .product-card a{
        font-size: calc(.5rem + .5vw);
            }
        .shoping{
            display: none;
        }
    }


